$fonts: (
    font1: Arial, sans-serif,
    font2: “calibri”
);

.card {

    border: 2px solid black;
    background-color: lightgray;
    text-align: center;
    font-family: map-get($font, font1);
    font-size: 23px;
    font-weight: 400;
    font-style: italic;

    img {
        height: 180px;
        width: 100%;
    }
}